*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.save-btn-purchase{
  width: 120px;
  padding: 8px;
  margin: 32px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

